[Unit]
Description=BMYSFDirect
After=multi-user.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/opt/BMYSFDirect
ExecStart=/usr/bin/python3 BMYSFDirect.py

[Install]
WantedBy=multi-user.target