[Unit]
Description=YSFBMDirect
After=multi-user.target

[Service]
Type=simple
Restart=always
RestartSec=10
WorkingDirectory=/opt/YSFBMDirect
ExecStart=/usr/bin/python3 YSFBMDirect.py
StandardOutput=append:/var/log/pi-star/YSFBMDirect.log
StandardError=append:/var/log/pi-star/YSFBMDirect.log

[Install]
WantedBy=multi-user.target