[CONNECTION]
callsign: CALLSIGN
bm_password: PASSWORD
server_ip: 80.211.95.98
bm_port: 42001
ysf_port: 42002

[TG]
default_tg: 91
# number of minutes of silence to return to the default TG - set 0 for disabling it
back_to_default_time: 10
show_dgid_callsign: true
# seconds of silence required to change TG - set 0 for disabling it
tg_change_silence_period: 30

[DGID-TO-TG]
91: 91
92: 92

[LOG]
loglevel: INFO