[CONNECTION]
callsign: CALLSIGN
bm_password: PASSWORD
server_ip: 80.211.95.98
server_name: BM_2222
bm_port: 42001
ysf_port: 42002

[TG]
default_tg: 2231
# number of minutes of silence to return to the default TG - set 0 for disabling it
back_to_default_time: 10
show_dgid_callsign: true

[DGID-TO-TG]
31: 2231
22: 222
91: 91
92: 92

[LOG]
loglevel: INFO