[Unit]
Description=YSFBMDirect
After=multi-user.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/opt/YSFBMDirect
ExecStart=/usr/bin/python3 YSFBMDirect.py

[Install]
WantedBy=multi-user.target